---
import EnlaceIcono from "@iconos/EnlaceIcono.astro";

interface Props {
  src: string;
  alt: string;
  titulo: string;
  href?: string;
}

const { alt, src, titulo, href } = Astro.props;
---

<a
  class="rounded-lg md:p-5 md:space-x-2 relative contenedor group px-2 py-4 pb-6 max-w-80"
  target={href !== "#" ? "_blank" : ""}
  href={href}
  title={`Certificado: ${titulo}`}
>
  <div class="absolute top-2 left-3 hidden group-hover:block">
    <EnlaceIcono />
  </div>

  <figure class="w-20 flex items-center justify-center !m-0">
    <img src={src} alt={alt} loading="lazy" class="object-cover m-0" />
  </figure>

  <p class="titulo">
    {titulo}
  </p>
</a>

<style>
  .contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: hsl(var(--background));
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }

  .imagen {
  }

  .titulo {
    margin: 0.5rem 0px 0px 0px !important;
    padding: 0px;
    font-weight: bold;
    color: hsl(var(--color-titulos));
    text-align: center;
  }
</style>
