---
import Layout from "../layouts/Layout.astro";

import Container from "@components/Container.astro";
import ExperienciaLaboral from "@components/secciones/ExperienciaLaboral.astro";
import ProyectosPersonales from "@components/secciones/Proyectos/Proyectos.astro";
import BotonEnlace from "@components/UI/Enlaces/BotonEnlace.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Corbata from "@iconos/Corbata.astro";
import ArchivoCodigo from "@iconos/ArchivoCode.astro";
import PersonaLupa from "@iconos/PersonaLupa.astro";
import Linkedin from "@iconos/Linkedin.astro";
import GitHubIcono from "@iconos/GitHubIcono.astro";
import Foto from "@img/Foto-perfil.webp";
import Estudios from "@components/secciones/Estudios/Estudios.astro";
import Copy from "@iconos/Copy.astro";
import CorreoContacto from "@components/UI/CorreoContacto.astro";
import { OpenGraphProperties, type OpenGraph } from "@globals/OpenGraph";
import { getEnvConfig } from "src/config/EnvConfig";

const description =
  "Desarrollador Frontend con más de 2 años de experiencia. Descubre mis proyectos con Next.js, React y Astro, enfocados en crear experiencias web únicas y escalables.";
const correo: string = "soy-esteban@outlook.com.co";
const keywords: string[] = [
  "Desarrollador frontend",
  "desarrollador web",
  "ingeniero de sistemas",
  "programador fullstack",
  "react",
  "astro",
  "TypeScript",
  "next.js",
  "rest",
];
const siteUrl: string = getEnvConfig().SITE_URL;
const og: OpenGraph[] = [
  {
    property: OpenGraphProperties.TITLE,
    content: "Portafolio de David Cubillos",
  },
  { property: OpenGraphProperties.DESCRIPTION, content: description },
  { property: OpenGraphProperties.IMAGE, content: siteUrl + Foto.src },
  { property: OpenGraphProperties.URL, content: siteUrl },
  { property: OpenGraphProperties.TYPE, content: "website" },
];
---

<Layout
  title="David Cubillos | Desarrollador Frontend"
  description={description}
  OpenGraph={og}
  keywords={keywords}
>
  <main class="relative">
    <Header />

    <section id="presentacion" class="py-7 mt-6 md:mt-0">
      <Container>
        <figure class="my-4 aspect-square size-28 rounded-full overflow-hidden">
          <img
            src={Foto.src}
            alt="David Cubillos"
            class="object-cover w-full h-auto scale-110 transition-transform ease-in-out duration-500 hover:scale-125 aspect-square"
            width={Foto.width}
            loading="lazy"
          />
        </figure>

        <h1>Hola, soy David</h1>

        <p>
          Desarrollador Full Stack con
          <strong>más de 2 años de experiencia</strong> en Next.js, Laravel y React.
          Especializado en el desarrollo de APIs REST, diseño de interfaces escalables
          y optimización de aplicaciones web. He participado en proyectos que automatizan
          procesos empresariales, mejoran la accesibilidad de las interfaces de usuario
          y potencian el SEO, logrando productos más eficientes, inclusivos y con
          mayor alcance digital.
        </p>

        <div class="flex flex-wrap gap-4 mt-8">
          <BotonEnlace
            href="https://www.linkedin.com/in/desteban-cubillos"
            targetBlank
            title="Perfil de linkedin"
            classname="font-semibold"
          >
            <Linkedin /> Linkedin
          </BotonEnlace>

          <BotonEnlace
            href="https://github.com/desteban"
            targetBlank
            title="Perfil de GitHub"
            classname="font-semibold"
          >
            <GitHubIcono /> GitHub
          </BotonEnlace>

          <div
            class={`rounded-full text-sm border border-primary flex items-center overflow-hidden`}
          >
            <a
              href={`mailto:${correo}`}
              class="px-2 pl-3 py-1 text-[var(--tertiary)] no-underline transition ease-in duration-300 hover:backdrop-blur-md hover:bg-slate-50 hover:bg-opacity-10 hover:border-secondary cursor-pointer"
            >
              <CorreoContacto />
            </a>

            <button
              data-copy-button
              data-email={correo}
              class="px-2 py-1 pr-3 flex gap-2 no-underline transition ease-in duration-300 hover:backdrop-blur-md hover:bg-slate-50 hover:bg-opacity-10 hover:border-secondary border-l-2 border-l-primary"
              aria-label="Copiar correo"
              title="Copiar correo"
            >
              <Copy />
            </button>
          </div>
        </div>
      </Container>
    </section>

    <section class="" aria-label="experiencia laboral" id="experiencia">
      <Container>
        <h2 class="flex items-center gap-3">
          <Corbata size={32} />
          Experiencia laboral
        </h2>

        <ExperienciaLaboral />
      </Container>
    </section>

    <section class="seccion" id="proyectos" aria-label="proyectos-personales">
      <Container>
        <h2 class="flex gap-3 items-center">
          <ArchivoCodigo size={32} />
          Proyectos personales
        </h2>

        <ProyectosPersonales />
      </Container>
    </section>

    <section class="" id="acerca-de-mi" aria-label="acerca-de-mi">
      <Container>
        <div class="px-1">
          <h2 class="flex gap-3 items-center">
            <PersonaLupa />
            Acerca de mi
          </h2>

          <div class="px-4">
            <p>
              Hola, me llamo David Cubillos. Conocí el mundo de la programación
              cuando encontré un video que me enseñaba a crear una página web y
              decidí meterme un poco mas en este mundo lo cual me llevó a
              estudiar ingeniería de sistemas.
            </p>

            <p>
              Durante mi trayectoria en la carrera de Ingeniería de Sistemas,
              adquirí sólidos conocimientos sobre <b><i>bases de datos</i></b>.
              Estos conocimientos me impulsaron a participar activamente en
              diversos eventos de programación, incluyendo un hackathon. En
              estas experiencias, descubrí que la programación es una habilidad
              extremadamente versátil y poderosa.
            </p>

            <p>
              Además, tuve la oportunidad de <b
                ><i
                  >contribuir a la comunidad llevando internet a una zona remota</i
                ></b
              > y estableciendo un café internet. Esta iniciativa no solo benefició
              a los residentes locales, sino que también brindó a muchos niños acceso
              rápido a información.
            </p>
          </div>
        </div>
      </Container>
    </section>

    <Estudios />

    <Footer />
  </main>
</Layout>

<script>
  const copybutton = document.querySelector("button[data-copy-button]");

  copybutton?.addEventListener("click", copyMail);

  function copyMail(event: Event) {
    const button = event.currentTarget as HTMLElement;
    new Promise(() => {
      try {
        navigator.clipboard.writeText(button.dataset.email ?? "");
        alert("Correo copiado al portapapeles");
      } catch (error) {
        alert("No se pudo copiar el correo");
      }
    });
  }
</script>
