---
interface Props {
  cargo: string;
  datetimeFin?: string;
  datetimeInicio?: string;
  empresa: string;
  fechaFin?: string;
  fechaInicial: string;
}

const { cargo, empresa, fechaInicial, datetimeFin, datetimeInicio, fechaFin } =
  Astro.props;
---

<div
  class="relative py-5 px-2 trabajo grid grid-cols-1 gap-2 md:grid-cols-5 md:space-x-4 transition-shadow trabajo"
>
  <div class="titulo-trabajo md:col-span-2">
    <h3 class="capitalize">{cargo}</h3>
    <h4 class="capitalize">{empresa}</h4>
    <time datetime={datetimeInicio}>{fechaInicial}</time>
    {fechaFin ? "-" : ""}
    {fechaFin ? <time datetime={datetimeFin}>{fechaFin}</time> : ""}
  </div>

  <div class="md:col-span-3">
    <slot />
  </div>
</div>

<style>
  .trabajo {
    overflow: hidden;
  }

  .trabajo::before {
    position: absolute;
    bottom: 0px;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #fefefe;
    transition: width 0.4s ease-out;
  }

  .trabajo:hover::before {
    width: 100%;
  }

  .titulo-trabajo {
    margin-bottom: 18px;
  }

  h3,
  h4 {
    margin-bottom: 2px;
  }

  h3 {
    color: hsl(var(--fondo-boton));
  }
</style>
