---
import type { OpenGraph } from "@globals/OpenGraph";
import "../base.css";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
  description: string;
  OpenGraph?: OpenGraph[];
  keywords?: string[] | string;
}

const { title, description, OpenGraph, keywords } = Astro.props;
const keywordsString = Array.isArray(keywords)
  ? keywords.join(", ")
  : keywords || null;
---

<!doctype html>
<html lang="es-CO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {keywordsString && <meta name="keywords" content={keywordsString} />}

    {
      OpenGraph &&
        OpenGraph.map((og) => (
          <meta property={og.property} content={og.content} />
        ))
    }
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <SpeedInsights />
    <slot />
  </body>
</html>
